creds.txt
.env
__pycache__
TODO.txt
env
.vscode
requirements.txt
.dockerignore
backend/Dockerfile
docker-compose.yaml
productsSQL
.DS_Store
run
/backend/*.zsh
/frontend/*.zsh
db_volume/data/*
!db_volume/data/.gitkeep
/backend/static